<!-- templates/index.html -->
{% extends 'extension/base.html' %}

{% block content %}

    {{ content|safe }}

    <div id="responseMessage"></div> <!-- Container für die Erfolgsanzeige -->

    <div id="userTableContainer" style="display:block;">
        <h3>Please wait!</h3>
    </div> <!-- Container für die Tabelle -->

    <form id="configForm" style="display:none;"> <!-- Formular zu Beginn verstecken -->
        <div class="mb-3">
            <label for="ttl_user" class="form-label">Username:</label>
            <input type="text" class="form-control" id="ttl_user" name="ttl_user">
        </div>
        <div class="mb-3">
            <label for="ttl_pass" class="form-label">Password MD5:</label>
            <input type="text" class="form-control" id="ttl_pass" name="ttl_pass">
        </div>
        <div class="mb-3">
            <label for="ttl_alias" class="form-label">Lock Alias:</label>
            <input type="text" class="form-control" id="ttl_alias" name="ttl_alias">
        </div>
        <button type="button" class="btn btn-primary" id="submitBtn">Submit</button>
    </form>
    
    <script type="text/javascript">
        window.onload = function() {
            if (window.location.hash) {
                // Hash-Parameter extrahieren
                const hash = window.location.hash.substring(1);
                const params = JSON.parse(decodeURIComponent(hash));
                const configurationToken = params.partnerConfigurationToken;
    
                // Token an Ihr Backend senden (Beispielcode)
                fetch('/extension/fetchconfig', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ configurationToken: configurationToken })
                })
                .then(response => response.json())
                .then(data => {
                    // Konfigurationsformular mit den Daten aus der Antwort befüllen
                    console.log('Konfiguration geladen:', data);

                    document.getElementById('responseMessage').innerHTML = 'Success: Data fully loades'  ;

                    document.getElementById('ttl_user').value = data.data.ttl_user || '';
                    document.getElementById('ttl_pass').value = data.data.ttl_pass || '';
                    document.getElementById('ttl_alias').value = data.data.ttl_alias || '';

                    // Please wait ausblenden
                    document.getElementById('userTableContainer').style.display = 'none';
                    // Formular anzeigen
                    document.getElementById('configForm').style.display = 'block';
                })
                .catch(error => {
                    console.error('Fehler beim Laden der Konfiguration:', error);
                });
            }
        };
    </script>
    

    
    
    


{% endblock %}
