<!-- templates/index.html -->
{% extends 'extension/base.html' %}

{% block content %}

    {{ content|safe }}

    <script type="text/javascript">
        window.onload = function() {
            if (window.location.hash) {
                const hash = window.location.hash.substring(1);
                const params = JSON.parse(decodeURIComponent(hash));
                const mainToken = params.mainToken;
    
                // Senden Sie den Token an Ihren Server
                fetch('/extension/handle_token', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ mainToken: mainToken })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Erfolg:', data);
                })
                .catch((error) => {
                    console.error('Fehler:', error);
                });
            }
        };
    </script>

{% endblock %}
