<!-- templates/index.html -->
{% extends 'extension/base.html' %}

{% block content %}

    {{ content|safe }}

    <div id="responseMessage"></div> <!-- Container für die Erfolgsanzeige -->

    <div id="userTableContainer"></div> <!-- Container für die Tabelle -->

    <div id="cnfTableContainer"></div> <!-- Container für die Tabelle -->
    

    
    <script type="text/javascript">
        window.onload = function() {
            if (window.location.hash) {
                const hash = window.location.hash.substring(1);
                const params = JSON.parse(decodeURIComponent(hash));
                const mainToken = params.mainToken;
    
                fetch('/extension/handle_token', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ mainToken: mainToken })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Erfolg:', data);
                    document.getElementById('responseMessage').innerHTML = 'Erfolg: ' + data.message;
    
                    const user = data.user;
                    const usertable = document.createElement('table');
                    usertable.classList.add('table', 'table-striped', 'table-hover', 'text-start');
                    usertable.setAttribute('border', '1');
                    usertable.style.width = '100%';
    
                    // Umkehren der Reihenfolge der Schlüssel-Wert-Paare
                    Object.entries(user).reverse().forEach(([key, value]) => {
                        const row = usertable.insertRow();
                        const cellKey = row.insertCell();
                        const cellValue = row.insertCell();
                        cellKey.textContent = key;
                        cellValue.textContent = value;
                        cellKey.classList.add('text-start');
                        cellValue.classList.add('text-start');
                    });
    
                    document.getElementById('userTableContainer').appendChild(usertable);

                    const cnfd = data.config;
                    const cnftable = document.createElement('table');
                    cnftable.classList.add('table', 'table-striped', 'table-hover', 'text-start');
                    cnftable.setAttribute('border', '1');
                    cnftable.style.width = '100%';
    
                    // Umkehren der Reihenfolge der Schlüssel-Wert-Paare
                    Object.entries(cnfd).reverse().forEach(([key, value]) => {
                        const row = cnftable.insertRow();
                        const cellKey = row.insertCell();
                        const cellValue = row.insertCell();
                        cellKey.textContent = key;
                        cellValue.textContent = value;
                        cellKey.classList.add('text-start');
                        cellValue.classList.add('text-start');
                    });
    
                    document.getElementById('cnfTableContainer').appendChild(cnftable);

                })
                .catch((error) => {
                    console.error('Fehler:', error);
                    document.getElementById('responseMessage').innerHTML = 'Fehler: ' + error.message;
                });
            }
        };
    </script>
    
    
    


{% endblock %}
