<!-- templates/index.html -->
{% extends 'ca_extension/base_extension.html' %}

{% block content %}
    <div class="container">
        <h1>Willkommen bei TTLock!</h1>
        <h3>Diese Extension zu Chaster.app steuert deinen Schlüsseltresors mit TTLock.</h3>
    </div>
  
    <script type="text/javascript">
        window.onload = function() {
            if (window.location.hash) {
                const hash = window.location.hash.substring(1);
                const params = JSON.parse(decodeURIComponent(hash));
                const mainToken = params.mainToken;
    
                // Senden Sie den Token an Ihren Server
                fetch('/extension/handle_token', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ mainToken: mainToken })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Erfolg:', data);
                })
                .catch((error) => {
                    console.error('Fehler:', error);
                });
            }
        };
    </script>
    
{% endblock %}
