[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
python-dotenv = "*"
flask =  "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
Jinja2 = "*"
requests = "*"
werkzeug = "*"
authlib = "*"
qrcode = "*"
gunicorn = "*"
tzdata = "*"
pytz = "*"
colorama = "*"
python-dateutil = "*"
flask-babel = "*"

[requires]
python_version = "3"
