[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask =  "*"
flask-login = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-migrate = "*"
requests = "*"
werkzeug = "*"
authlib = "*"
qrcode = "*"
gunicorn = "*"
tzdata = "*"
pytz = "*"

[requires]
python_version = "3.12"
