<!-- templates/benutzerconfig.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Konfiguration</h2>

        <form action="{{ url_for('auth.config') }}" method="post">
            {{ form.hidden_tag() }}

            <!-- Chaster App -->
            <div class="form-group">
                <p></p>
                <h3>Chaster.app Konfigurationen</h3>
            </div>

            <div class="form-group">
                {{ form.CA_username.label(class="form-control-label") }}
                {{ form.CA_username(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="Your Username you use in chaster.app">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.CA_keyholdername.label(class="form-control-label") }}
                {{ form.CA_keyholdername(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="The Username of your chaster.app KEYHOLDER">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.CA_user_id.label(class="form-control-label") }}
                {{ form.CA_user_id(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="Your Chaster User ID">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.CA_lock_id.label(class="form-control-label") }}
                {{ form.CA_lock_id(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="Your Chaster Lock ID">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <!-- TTLock Konfiguration -->
            <div class="form-group">
                <p></p>
                <h3>TTLock Konfigurationen</h3>
            </div>

            <div class="form-group">
                {{ form.TTL_username.label(class="form-control-label") }}
                {{ form.TTL_username(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="Your TTLock Username">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.TTL_password_md5.label(class="form-control-label") }}
                {{ form.TTL_password_md5(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="Your TTLock Password as MD5 Hash">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.TTL_lock_id.label(class="form-control-label") }}
                {{ form.TTL_lock_id(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="Your TTLock ID">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.TTL_access_token.label(class="form-control-label") }}
                {{ form.TTL_access_token(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="TTLock Acces Token">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <div class="form-group">
                {{ form.TTL_refresh_token.label(class="form-control-label") }}
                {{ form.TTL_refresh_token(class="form-control") }}
                <span class="info-btn" data-toggle="tooltip" data-placement="top" title="TTLock Refresh Token">
                    <i class="fa-solid fa-circle-info"></i>
                </span>
            </div>

            <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
    </div>
{% endblock %}
