<!-- templates/benutzerconfig.html -->
{% extends 'base.html' %}

{% block content %}
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row w-80">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 w-80 p-4">
                    <form action="{{ url_for('benutzer.config') }}" method="post">
                        {{ form.hidden_tag() }}
                        
                        <h6 class="mb-4 text-start">{{ _("Chaster.app User") }}</h6>
                        <!-- Chaster App Konfiguration -->
                        <div class="form-floating mb-3 w-80">
                            {{ form.CA_username(class="form-control", id="floatingCAUsername", placeholder="CA Username") }}
                            {{ form.CA_username.label(class="form-label", for="floatingCAUsername") }}
                        </div>

                        <div class="form-floating mb-3 w100">
                            {{ form.CA_keyholdername(class="form-control", id="floatingCAKeyholdername", placeholder="CA Keyholder Name") }}
                            {{ form.CA_keyholdername.label(class="form-label", for="floatingCAKeyholdername") }}
                        </div>

                        <!-- TTLock Konfigurationen -->
                        <h6 class="mb-4 text-start">TTLock Konfiguration</h6>

                        <div class="form-floating mb-3 w-80">
                            {{ form.TTL_username(class="form-control", id="floatingTTLUsername", placeholder="TTL Username") }}
                            {{ form.TTL_username.label(class="form-label", for="floatingTTLUsername") }}
                        </div>

                        <div class="form-floating mb-3 w-80">
                            {{ form.TTL_password_md5(type="password", class="form-control", id="floatingTTLPasswordMD5", placeholder="TTL Password MD5") }}
                            {{ form.TTL_password_md5.label(class="form-label", for="floatingTTLPasswordMD5") }}
                        </div>

                        {% if form.TTL_username.data and form.TTL_password_md5.data %}
                            <a href="/user/config_ttl" class="btn btn-outline-light w-50">{{ _("Lock Selection") }}</a>
                        {% else %}
                            <button type="button" class="btn btn-outline-light w-50" disabled>{{ _("Please enter TTLock Username and Password") }}</button>
                        {% endif %}
                        <p></p>
                                        

                        <button type="submit" class="btn btn-outline-light w-50">{{ _("Save") }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}


                        
                        
