{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-12">
                <div class="bg-secondary rounded">
                    <h6 class="mb-4 text-start">{{ _("Journal Entries") }}</h6>
                    <!-- Responsive Table Wrapper Start -->
                    <div class="table-responsive">
                        <table class="table table-striped w-100">
                            <thead>
                                <tr>
                                    <th scope="col">{{ _("ID") }}</th>
                                    <th scope="col">{{ _("Date") }}</th>
                                    <th scope="col">{{ _("Hygiene") }}</th>
                                    <th scope="col">{{ _("Shave") }}</th>
                                    <th scope="col">{{ _("Edge") }}</th>
                                    <th scope="col">{{ _("Ruined") }}</th>
                                    <th scope="col">{{ _("Orgasm") }}</th>
                                    <th scope="col">{{ _("Horny") }}</th>
                                    <th scope="col">{{ _("Note") }}</th>
                                    <th scope="col">{{ _("Aktion") }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for journal in journals %}
                                    <tr>
                                        <td>{{ journal.journal_id }}</td>
                                        <td>
                                            <script>
                                                var createdAt = new Date('{{ journal.created_at }}');
                                                var formattedDate = createdAt.toLocaleDateString('de-DE'); 
                                                var formattedTime = createdAt.toLocaleTimeString('de-DE', { hour: '2-digit', minute: '2-digit' }); 
                                                document.write(formattedDate + ' ' + formattedTime);
                                            </script>
                                        </td>
                                        <td>{% if journal.hygien %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                                        <td>{% if journal.shave %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                                        <td>{% if journal.edge %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                                        <td>{% if journal.ruined %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                                        <td>{% if journal.orgasm %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</td>
                                        <td>{{ journal.horny }}</td>
                                        <td>{{ journal.note }}</td>
                                        <td>
                                            <a href="/user/journal_edit/{{ journal.journal_id }}" class="btn btn-primary">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <button class="btn btn-danger"
                                                    data-confirm-msg="{{ _('Are you shure you want to delete?') }}" 
                                                    onclick="return confirmDelete(this);">
                                                {{ _("Delete") }}
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Responsive Table Wrapper End -->
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete(element) {
            var message = element.getAttribute('data-confirm-msg');
            return confirm(message);
        }
    </script>

{% endblock %}
