<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
        </ul>
        
        <!-- Rechtsbündige Links in einem neuen <ul> -->
        <ul class="navbar-nav ms-auto">
            {% if not current_user.is_authenticated %}
            <!-- Zeige nur, wenn kein Benutzer angemeldet ist -->
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% else %}
            <!-- Zeige nur, wenn Benutzer angemeldet ist -->
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{ current_user.username }}</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="/user/config">Config</a></li>
                </ul>
              </li>
            {% endif %}
        </ul>
    </div>
</nav>
